<h1>{{group.name}}</h1>
<hr>
<p>{{group.description}}</p>

<form method="POST" action="/site/groups/update">
    <input type="submit" value="Update Group">
</form>
<form method="POST" action="/site/groups/delete">
    <input type="submit" value="Delete Group">
</form>