<header>
    <h1>
        <a href="/site/home/search">Search</a>
    </h1>
    <h3>Seca Application IPW 2023/2024</h3>
    <nav>
        <a href="/site/home/allGroups">All Groups</a>
    </nav>
</header>