
<header class="headerAllGroups">
    <a href="./home">SingOut</a>
</header>

{{> header pageTitle="AllGroups"}}

<div class="createGroupDiv">{{> newGroup userId=userId }}</div>

<hr>

<section class="sectionMain">
    {{#each groups}}
        <section class="groupSection">
            {{> groupSection userId=userId group=this}}
        </section>
    {{/each}}
</section>