
<header class="headerAllGroups">
    <a href="/home">Home Page</a>
    <h1>These are all Groups</h1>
    <p>Seca Application IPW 2023/2024</p>
</header>

<div class="createGroupDiv">{{> newGroup token=token }}</div>

<hr>

<section class="sectionMain">
    {{#each groups}}
        <section class="groupSection">
            {{> groupSection token=../token group=this}}
        </section>
    {{/each}}
</section>