{{> header pageTitle="SECA" class="header"}}

<header class="headerAllGroups">
    <a href="./home">Sign Out</a>
</header>

<div class="createGroupDiv">{{> newGroup userId=userId }}</div>

<hr>

<section class="sectionMain">
    {{#each groups}}
      {{> groupSection userId=userId group=this}}
    {{/each}}
</section>