{{> header pageTitle="SECA" class="header"}}

<div class="container">
  {{> createUser}}
</div>

<div class="container">
  {{> getUser}}
</div>

<div class="navigation">
    <a href="/site/events/search">Search</a>
</div>