{{> header pageTitle="SECA" class="header"}}

<header class="headerAllGroups">
    <a href="/site/events/search">Events</a>
</header>

<div class="container">
  {{> createUser}}
</div>

<div class="container">
  {{> getUser}}
</div>
