<form method="POST" action="/site/signUp">
    <h3>Create a New User</h3>
    <p>userName: <input type="text" name="userName"></p>
    <p>password: <input type="password" name="password"></p>
    <input type="submit" value="SignUp">
</form>