<form method="GET" action="/site/signIn">
    <h3>SignIn account</h3>
    <p>userName: <input type="text" name="userName"></p>
    <p>password: <input type="password" name="password"></p>
    <input type="submit" value="SignIn">
</form>