<header class="groupHeader">
    <h1>{{group.name}}</h1>
    <p>{{group.description}}</p>
  </header>
<article class="groupSection">
  <form method="GET" action="/site/details/{{userId}}/{{group.groupId}}">
    <input type="submit" value="Details" class="detailsButton">
  </form>
</article>
