<a href="/site/details/{{userId}}/{{group.groupId}}" class="groupLink">
  <section class="groupSection">
      <header class="groupHeader">
          <h1>{{group.name}}</h1>
          <p>Description: {{group.description}}</p>
      </header>
  </section>
</a>